:root {
    --theme-color: #a7c4e4;
    --theme-primary-color: rgba(74, 144, 226, 0.5);
    --theme-bg-primary: rgba(173, 197, 230, 0.1);
    --theme-bg: #13283f;
    --card-color: rgba(61, 61, 61, 0.2);
    --font-color: #dfdfdf;
    --link-color: #8eb2ff;
    --success-color: #76B52F;
    --error-color: #FF836B;
    --warning-color: #F4CE0C;
    --info-color: #286BFC;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    background-attachment: fixed;
    transition: all 0.2s ease-in-out;
    overflow-x: hidden;
}


.star {
    position: fixed;
    border-radius: 50%;
    background: rgb(255, 246, 221);
    
    background-attachment: fixed;
    animation: twinkling 1s infinite alternate, moving 20s infinite alternate; /* 修改移动时长 */
}

@keyframes twinkling {
    0% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes moving {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(50vw - 50%), calc(50vh - 50%)); /* 在视口中随机移动 */
    }
}


h1,
h2,
h3,
h4,
h5 {
    margin: 20px 0;
    position: relative;
    font-weight: bold;
    color: var(--font-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    /* Change size as needed */
}

h3 {
    font-size: 2rem;
    /* Change size as needed */
}

h4 {
    font-size: 1.75rem;
    /* Change size as needed */
}

h5 {
    font-size: 1.5rem;
    /* Change size as needed */
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after {
    content: '';
    display: block;
    height: 5px;
    /*渐变*/
    background: linear-gradient(to right, var(--theme-color), transparent);
    background-color: var(--theme-primary-color);
    margin: 5px 0 0;
    border-radius: 5px;
    position: relative;
    left: 0;
}

h1::after {
    width: 50px;
}

h2::after {
    width: 30px;
    /* Smaller width than h1 */
}

h3::after {
    width: 25px;
    /* Smaller width than h2 */
}

h4::after {
    width: 20px;
    /* Smaller width than h3 */
}

h5::after {
    width: 15px;
    /* Smaller width than h4 */
}

/* Markdown styles */

p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 10px 0;
    color: var(--font-color);
}

ul,
ol {
    margin: 10px 0;
    padding-left: 20px;
    color: var(--font-color);
    list-style-type: disc;
    /* Indentation for lists */

}

li {
    font-size: 18px;
    line-height: 1.5;
    color: var(--font-color);
    list-style-type: decimal;
}

a {
    display: inline-block;
    /* Make it an inline block for padding and background */
    position: relative;
    color: var(--link-color);
    text-decoration: none;
    /* Remove default underline */
    border-bottom: 2px solid transparent;
    /* Create a space for the underline */
    transition: all 0.2s ease-in-out;
    /* Smooth transition */
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 5px;
    background: linear-gradient(to right, var(--theme-color), transparent);
    background-color: var(--theme-primary-color);
    transform-origin: bottom left;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

blockquote {
    border-radius: 10px;
    border-left: 5px solid var(--theme-primary-color);
    margin: 20px 0;
    padding: 10px 20px;
    font-weight: 450;
    color: rgb(69, 88, 115);
    background-color: var(--theme-bg-primary);
}

code {
    font-family: 'Jetbrains Mono', 'Consolas', '微软雅黑';
}

pre {
    background-color: rgba(173, 197, 230, 0.1);
    padding: 10px;
    color: #333; /* 字体颜色更深 */
}

.frosti-code,
.frosti-code span {
  @apply text-sm;
  background-color: oklch(var(--b2));
}

.highlight {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.5rem 0;
  background-color: #e9f5ff;
}

.highlight-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #e2eaf1;
}

.highlight-code{
  @apply flex;
}

.highlight-code .code{
  @apply flex-auto;
  overflow: auto;
  padding-right: 4em;
}

.highlight-code .gutter{
  @apply flex-none text-right;
  user-select: none;
  border-right: 1px solid #888;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'Jetbrains Mono', 'Consolas', '微软雅黑';
  
}

.highlight .code-lang {
  font-family: 'Jetbrains Mono', 'Consolas', '微软雅黑';
  user-select: none;
}


hr {
    border: none;
    /* Remove default border */
    height: 3px;
    /* Thickness of the line */
    border-radius: 5px;
    /* Rounded corners */
    background-color: rgba(74, 144, 226, 0.5);
    /* Color of the line */
    margin: 30px 0;
    /* Space above and below the line */
}

img {
    max-width: 100%;
    /* Full width */
    border-radius: 10px;
}

/* 表格样式 */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 10px 0;
    color: rgb(69, 88, 115);
}

th, td {
    padding: 12px;
}

th {
    background-color: rgba(173, 197, 230, 0.3);
    color: var(--font-color);
    font-weight: bold;
}

.toc-link {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--font-color);
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    transition:
      all 0.3s ease;
    border-bottom: none;
    padding: 5px;
    margin-right: 10px;
  }

  .toc-link:hover {
    border-bottom: none;
    background-color: rgba(222, 223, 228, 0.2);
    transform: translateY(-5px);
  }

  .toc-link:active {
    background-color: #b1b2bc;
  }

  .toc-link::before {
    background-color: transparent;
    background: transparent;
  }

  .toc-link:hover::before {
    background-color: transparent;
    background: transparent;
  }

  .toc-number {
    color: var(--theme-color);
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 5px;
  }

/* Layout styles */
.layout {
    display: flex;
    justify-content: center;
    width: 100%;
}


.left-column {
    width: 300px;
    padding: 1rem;
    position: sticky;
    /* Change to sticky */
    height: 100vh;

    top: 0;
}

/* Remove margin adjustments from center-column */
.center-column {
    width: 950px;
    padding: 1rem;
}

.right-column {
    width: 300px;
    padding: 1rem;
    position: sticky;
    height: 100vh;
    /* Change to sticky */
    top: 0;
}

.left-column,
.center-column,
.right-column {
    box-sizing: border-box;
    max-width: 100%;
    overflow-y: auto;
}

.left-column::-webkit-scrollbar,
.center-column::-webkit-scrollbar,
.right-column::-webkit-scrollbar {
    width: 0;
}

card {
    border: 1px solid #444444;
    border-radius: 8px;
    background: var(--card-color);
    backdrop-filter: blur(10px);
    transition: all 0.2s ease-in-out;
}