---
import "../styles/global.css"
const { image } = Astro.props;
---

<card>
  {image && <img src={image} alt="Card Image" class="card-image" />}
  <span><slot /></span>
</card>

<style>
card {
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

card span {
    margin: 40px;
    margin-top: 20px;
}

.card-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    height: 200px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
</style>
