<card>
    <p> Copyright © <b>Yaoqx</b> 2024 - All right reserved.</p>
</card>
  
<style>
  card {
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
</style>