<card>
    <p> Copyright © <b>Yaoqx</b> 2024 - All right reserved.</p>
</card>
  
<style>
  card {
      border-radius: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      bottom: 0;
      width: 100%;
      padding: 10px;
  }
</style>