<card>
  <a href="/" class="link button">主页</a>
  <a href="/about" class="link button">关于</a>
  <a href="/blog" class="link button">博客</a>
  <a href="/project" class="link button">项目</a>
  <a href="/friend" class="link button">友链</a>
</card>

<style>
  card {
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .link {
    background-color: transparent;
    color: var(--font-color);
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 10px;
    padding: 10px 30px;
    border-bottom: none;
  }

  .link:hover {
    border-bottom: none;
    background-color: rgba(235, 237, 244, 0.2);
  }

  .link:active {
    background-color: #b1b2bc;
  }

  .link::before {
    background-color: transparent;
    background: transparent;
  }

  .link:hover::before {
    background-color: transparent;
    background: transparent;
  }
</style>
