<card>
  <a href="/" class="link">主页</a>
  <a href="/about" class="link">关于</a>
  <a href="/blog" class="link">博客</a>
  <a href="/project" class="link">项目</a>
  <a href="/friend" class="link">友链</a>
</card>

<style>
  card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .link {
    flex: 1;
    width: 120%;
    padding: 12px;
    background-color: transparent;
    color: rgb(69, 88, 115);
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition:
      all 0.3s ease;
    margin: 10 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-bottom: none;
  }

  .link:hover {
    border-bottom: none;
    background-color: rgba(235,237,244);
    transform: translateY(-5px);
  }

  .link:active {
    background-color: #b1b2bc;
  }

  .link::before {
    background-color: transparent;
    background: transparent;
  }

  .link:hover::before {
    background-color: transparent;
    background: transparent;
  }
</style>
