---
import { avatarUrl, name } from '../const'; // Adjust the import path as necessary
---

<card>
  <img src={ avatarUrl } alt="Avatar" />
  <h1>{ name }</h1>
</card>

<style>
card {
    
    border-radius: 8px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

card img {
    border-radius: 50%;
    max-width: 160px;  
    max-height: 160px; 
    width: auto;
    height: auto;
    margin-bottom: 12px;
}
</style>