---
import News from "../components/News.astro";
import Profile from "../components/Profile.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { siteName } from "../const";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{siteName} - {title}</title>
  </head>
  <body>
    <div class="layout">
      <div class="left-column">
        <Profile />
        <Menu />
      </div>
      <div class="center-column">
        <slot />
        <Footer />
      </div>
      <div class="right-column">
        <h2>不知道写啥</h2>
      </div>
    </div>
  </body>
</html>
