---
import Profile from "../components/Profile.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import Content from "../components/Content.astro";
import Tags from "../components/Tags.astro";
import Categories from "../components/Categories.astro";
import ThemeIcon from "../components/ThemeIcon.astro"; // 导入 ThemeIcon 组件
import "../styles/global.css";
import "../styles/waline.scss";
import { siteName } from "../const";
const { title, isBlog } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{siteName} - {title}</title>
  </head>
  <body>
    <div class="layout">
      <div class="left-column">
        <Profile />
        <Menu />
      </div>
      <div class="center-column">
        <slot />
        <Footer />
      </div>
      <div class="right-column">
        {isBlog && <Content />}
        <Categories />
        <Tags />
      </div>
    </div>
    
    <!-- 添加昼夜切换按钮 -->
    <div class="theme-toggle" style="position: fixed; bottom: 20px; right: 20px;">
      <ThemeIcon />
    </div>
  </body>
</html>
